<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <div class="message-details">
        <p><strong>Author:</strong>
            <span class="message-text">
                <%= message.user %>
            </span>
        </p>
        <p><strong>Message:</strong>
            <span class="message-text">
                <%= message.text %>
            </span>
        </p>
        <p><strong>Added:</strong>
            <span class="message-text">
                <%= message.added.toLocaleString() %>
            </span>
        </p>
    </div>

    <a href="/">go back</a>
</body>

</html>